<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="/customers" class="navbar-brand">Phone Book App</a>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
        id="searchText"
        name="search"
        [(ngModel)]="searchText"
        #text
      />
      <button
        class="btn btn-outline-success"
        type="button"
        routerLink="/customers/search/{{ searchText }}"
      >
        Search
      </button>

    </form>
  </div>
</nav>
