<nav class="navbar navbar-light bg-dark">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">New</button>
  </form>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userAddForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name Surname:</label>
            <input type="text" id="customerName" class="form-control" formControlName="customerName">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Birth Date:</label>
            <input type="date" id="customerBirthDate" value="2019-01-03" class="form-control" formControlName="customerBirthDate">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Phone Number:</label>
            <input type="text" id="customerPhoneNumber" class="form-control" formControlName="customerPhoneNumber">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Description:</label>
            <textarea class="form-control" id="customerDescription" formControlName="customerDescription"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" (click)="addUser()" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
