<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Birh Date</th>
      <th>Phone No.</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <td>{{ customer.id }}</td>
    <td>{{ customer.customerName }}</td>
    <td>{{ customer.customerBirthDate | date }}</td>
    <td>{{ customer.customerPhoneNumber }}</td>
    <td>{{ customer.customerDescription }}</td>
    <td><button type="button" class="btn btn-primary btn-sm">Edit</button></td>
    <td><button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalEdit">Delete</button></td>
  </tr>
  <!-- Modal -->
<div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" (click)="getDelete(5)"  class="btn btn-primary">YES</button>
      </div>
    </div>
  </div>
</div>
</tbody>
</table>
